.temps {
  background-color: #aebfd3;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.temps-line {
  font-size: 22px;
  font-weight: 600;
  margin: 8px 0;
}

.temps-label {
  font-weight: 800;
}
